.pageLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .mainScrollArea {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    /* Optional: hide scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .main {
    flex: 1;
  }
}
